
  .body{
    background-color: #e4fefe;
  }
 
 /* Logo Style */
 .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

/* Navbar Links */
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #00796b !important;
  background-color: white !important;
  border-radius: 8px !important;
  /* padding: 6px 12px !important; */
}
.dropdown-item:hover {
  background-color: #198754 !important; /* Bootstrap bg-success */
  color: white !important;
}

  .video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
  }

  .video-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .video-overlay p {
    font-size: 1.2rem;
  }

  .scroll-down {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    color: white;
    text-align: center;
    animation: bounce 2s infinite;
    cursor: pointer;
  }

  .scroll-down i {
    font-size: 2rem;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

 /* Add hover effect for better interaction  */

  .questions:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
/* core values*/
  .section-title {
    border-bottom: 2px solid #198754; 
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .values-list li {
    margin-bottom: 10px;
  }

  /* Education CSS */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;}

.overlay {
background: rgba(0, 128, 0, 0.4); }

  /* Development CSS */
  .card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }